@use 'colors'as *;

mat-card {
  margin-top: 3rem;
  padding: 10px;

  img {
    height: 18rem;
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-header {
  display: flex;
  justify-content: center;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit {
  color: $green;
}

.delete {
  color: $red;
}