<header>
  <div class="container">
    <div class="content">
      <div class="info">
        <mat-icon fontIcon="location_on"></mat-icon>
        <p>Católica da Paraíba, Cajazeiras-PB</p>
      </div>
      <div class="info">
        <mat-icon fontIcon="mail"></mat-icon>
        <p>catolicapb@edu.com</p>
      </div>
      <div class="info">
        <mat-icon fontIcon="alarm"></mat-icon>
        <p>Seg-Sex, 18h às 22h</p>
      </div>
    </div>
    <div class="content">
      <div class="info">
        <mat-icon fontIcon="phone"></mat-icon>
        <p>(83) 99999-9999</p>
      </div>
      <div class="info">
        <img src="assets/facebook.png" alt="logo do facebook" />
      </div>
      <div class="info">
        <img src="assets/instagram.png" alt="logo do instagram" />
      </div>
      <div class="info">
        <img src="assets/linkedin.png" alt="logo do linkedin" />
      </div>
    </div>
  </div>
</header>
