@use '@angular/material' as mat;
@use 'colors' as *;

:root {
  @include mat.progress-bar-overrides((
    active-indicator-color: $green,
    track-color: white,
    active-indicator-height: 7px,
    track-height: 7px,
  ));
}